<ion-content class="ion-padding">
      <div class="chat-container">
        <div class="group-list">
          <ion-list>
            <ion-item-sliding *ngFor="let group of groups">
              <ion-item (click)="selectGroup(group)" [color]="selectedGroup?.id === group.id ? 'primary' : ''">
                <ion-avatar slot="start">
                  <img [src]="group.avatar" />
                </ion-avatar>
                <ion-label>
                  <h2>{{ group.name }}</h2>
                  <p>{{ group.members.length }} members</p>
                </ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="leaveGroup(group)">
                  Leave
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>

        <div class="message-container" *ngIf="selectedGroup">
          <div class="message-list">
            <div *ngFor="let message of messages" [ngClass]="{'message': true, 'own-message': message.sender === currentUser}">
              <div class="message-content">
                <ng-container [ngSwitch]="message.type">
                  <p *ngSwitchCase="'text'">{{ message.content }}</p>
                  <img *ngSwitchCase="'image'" [src]="message.mediaUrl" />
                  <video *ngSwitchCase="'video'" controls [src]="message.mediaUrl"></video>
                </ng-container>
                <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
              </div>
            </div>
          </div>

          <div class="message-input">
            <ion-item>
              <ion-input [(ngModel)]="newMessage" placeholder="Type a message..."></ion-input>
              <ion-buttons slot="end">
                <ion-button (click)="attachMedia()">
                  <ion-icon name="attach"></ion-icon>
                </ion-button>
                <ion-button (click)="sendMessage()">
                  <ion-icon name="send"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </div>
        </div>
      </div>
    </ion-content>